.panda-bg-info {
    background-color:#fceae8 ;
}
.panda-bg-btn{
    background-color:#FF428B ;
}
.panda-bg-watch {
    background-color: #ffa500;
}
.panda-bg-shoes {
    background-color: #da70d6;
}
.panda-bg-bags{
    background-color: #0000ff;
}